/materiais-disponiveis/
/downloads_gitignore
/materiais-disponiveis/
.venv
**/__pycache__
**/test_imgs
exercicios/exercicio_1/src/__pycache__/ex1_2_clustering_binario.cpython-314.pyc
exercicios/exercicio_1/src/__pycache__/ex1_2_clustering_binario.cpython-314.pyc
